font-face {
    font-family: 'lucida_grande';
    src: url('lucidagrande-webfont.woff2') format('woff2'),
    url('lucidagrande-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
